@model CongTyGachMen.Models.SanPham

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/Admin/Views/Layout/LayoutQuanly.cshtml";
}

<h3>Thêm mới sản phẩm</h3>
<span style="color:red;">@ViewBag.Thanhcong</span>
@*thêm thuộc tính cho form để upload ảnh*@
@using (Html.BeginForm("ThemMoi","SanPham", FormMethod.Post, new {@enctype= "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MaSp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaSp, new { htmlAttributes = new { @class = "form-control", @placeholder = "VD: SP0000001" } })
                @Html.ValidationMessageFor(model => model.MaSp, "", new { @class = "text-danger" })
                @ViewBag.KiemtraMa
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenSp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* tên của thẻ input trùng vs tham số của controller *@
                <input type="file" name="fileUpload">
                <span style="color:red;">@ViewBag.Thongbao</span>
            </div>
            @Html.Label("")
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DVT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DVT, new { htmlAttributes = new { @class = "form-control", @placeholder ="VD: vien"} })
                @Html.ValidationMessageFor(model => model.DVT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại danh sách", "Index")
</div>
